<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>csj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.iit.cs.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistration</display-name>
    <servlet-name>UserRegistration</servlet-name>
    <servlet-class>com.iit.cs.UserRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistration</servlet-name>
    <url-pattern>/UserRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.iit.cs.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProductServlet</display-name>
    <servlet-name>ViewProductServlet</servlet-name>
    <servlet-class>com.iit.cs.ViewProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProductServlet</servlet-name>
    <url-pattern>/ViewProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.iit.cs.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCartServlet</display-name>
    <servlet-name>RemoveCartServlet</servlet-name>
    <servlet-class>com.iit.cs.RemoveCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCartServlet</servlet-name>
    <url-pattern>/RemoveCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.iit.cs.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOrderServlet</display-name>
    <servlet-name>ViewOrderServlet</servlet-name>
    <servlet-class>com.iit.cs.ViewOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrderServlet</servlet-name>
    <url-pattern>/ViewOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrderServlet</display-name>
    <servlet-name>CancelOrderServlet</servlet-name>
    <servlet-class>com.iit.cs.CancelOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrderServlet</servlet-name>
    <url-pattern>/CancelOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitReviews</display-name>
    <servlet-name>SubmitReviews</servlet-name>
    <servlet-class>com.iit.cs.SubmitReviews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitReviews</servlet-name>
    <url-pattern>/SubmitReviews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewReviews</display-name>
    <servlet-name>ViewReviews</servlet-name>
    <servlet-class>com.iit.cs.ViewReviews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReviews</servlet-name>
    <url-pattern>/ViewReviews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataAnalytics</display-name>
    <servlet-name>DataAnalytics</servlet-name>
    <servlet-class>com.iit.cs.DataAnalytics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataAnalytics</servlet-name>
    <url-pattern>/DataAnalytics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataAnalyticsServlet</display-name>
    <servlet-name>DataAnalyticsServlet</servlet-name>
    <servlet-class>com.iit.cs.DataAnalyticsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataAnalyticsServlet</servlet-name>
    <url-pattern>/DataAnalyticsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewServlet</display-name>
    <servlet-name>ReviewServlet</servlet-name>
    <servlet-class>com.iit.cs.ReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewServlet</servlet-name>
    <url-pattern>/ReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrendingServlet</display-name>
    <servlet-name>TrendingServlet</servlet-name>
    <servlet-class>com.iit.cs.TrendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrendingServlet</servlet-name>
    <url-pattern>/TrendingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreManagerServlet</display-name>
    <servlet-name>StoreManagerServlet</servlet-name>
    <servlet-class>com.iit.cs.StoreManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreManagerServlet</servlet-name>
    <url-pattern>/StoreManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreManagerProServlet</display-name>
    <servlet-name>StoreManagerProServlet</servlet-name>
    <servlet-class>com.iit.cs.StoreManagerProServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreManagerProServlet</servlet-name>
    <url-pattern>/StoreManagerProServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.iit.cs.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSalesOrder</display-name>
    <servlet-name>ViewSalesOrder</servlet-name>
    <servlet-class>com.iit.cs.ViewSalesOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSalesOrder</servlet-name>
    <url-pattern>/ViewSalesOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSalesProcess</display-name>
    <servlet-name>ViewSalesProcess</servlet-name>
    <servlet-class>com.iit.cs.ViewSalesProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSalesProcess</servlet-name>
    <url-pattern>/ViewSalesProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutoCompletion</display-name>
    <servlet-name>AutoCompletion</servlet-name>
    <servlet-class>com.iit.cs.AutoCompletion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoCompletion</servlet-name>
    <url-pattern>/AutoCompletion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductServlet</display-name>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>com.iit.cs.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/UpdateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DealsMatches</display-name>
    <servlet-name>DealsMatches</servlet-name>
    <servlet-class>com.iit.cs.DealsMatches</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealsMatches</servlet-name>
    <url-pattern>/DealsMatches</url-pattern>
  </servlet-mapping>
</web-app>